{% load static %}
<link rel="stylesheet" href="{% static 'css/bootcss/bootstrap.css' %}">
<h1 style="text-align: center; color: white;">Eliminar</h1>

{% block content %}
<body style="background-color: #825804;">

<form action="" method="post">{% csrf_token %}
    <h2 style="text-align: center;  color: white;">¿Esta seguro que desea eliminar este comentario?</h2>
    <br>
    <p class="text-center">
        <a href="{% url 'libro' %}" class="btn btn-outline-warning">Cancelar</a>
        <input type="submit" value="Borrar" class="btn btn-dark" style="background-color: #684807;">
    </p>
</form>
</body>
{% endblock content %}