body{
    text-align: center;
    background-color: rgb(1, 1, 59); 
    color: white;
}

th, td, table {
    margin-top: 30px;
    border: 1px solid white;
    text-align: left;
    padding: 5px;
}

th {
    text-align: center;
}

header {
    text-align: center;
    background-color: rgb(1, 1, 59); 
    color: white;
}

.div {
    text-align: center;
}

.label {
    text-align: left;
}

form {
    text-align: center;
}